<%- include("Header")-%>
    <div>
        <div>
            <div class="box" id="heading">
                <h1>
                    <%= listTitle%>
                </h1>

            </div>
            <div class="box">

                <% items.forEach(element=>{ %>
                    <form method="post" action="/delete">
                        <div class="item">
                            <input type="checkbox" name="checkbox" value=<%=element._id%>
                            onChange="this.form.submit()">
                            <p>
                                <%=element.name%>
                            </p>
                        </div>
                        <input type="hidden" name="listName" value=<%=listTitle %> ></input>
                    </form>
                    <% }) %>



                        <!-- input button -->
                        <form action=" /" method="post" id="form1">
                            <input type="text" name="newItem" placeholder="Enter new todo item"
                                autocomplete="off"></input>
                            <button type="submit" name="list" value=<%=listTitle%>>+ </button>
                        </form>

            </div>





        </div>
    </div>

    <%- include("Footer")-%>